WCFKostBackend/Service References/MonthPaidService/MonthPaidService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2351/MonthPaidService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFKostService" />
  <xs:element name="getMonthPaidByIDUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMonthPaidByIDUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFKostService" minOccurs="0" name="getMonthPaidByIDUserResult" nillable="true" type="q1:ArrayOfMonthPaidInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>