WCFKostBackend/Service References/AdminService/AdminService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFKostService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFKostService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAdminInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdminInfo" nillable="true" type="tns:AdminInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdminInfo" nillable="true" type="tns:ArrayOfAdminInfo" />
  <xs:complexType name="AdminInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressAdmin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDAdmin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameAdmin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordAdmin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumberAdmin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeAdmin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsernameAdmin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminInfo" nillable="true" type="tns:AdminInfo" />
</xs:schema>